* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header,h2, section h3, form button, form textarea
{
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
}

header,h1 {
    font-size: 50px;
    font-weight: normal;

}

header,h2 {
    color: #182c61;
    font-weight: bold;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}


header {
    padding: 16px 0;
    background-color: #182c61;
    color: aliceblue;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size:  18px;
}

header nav li a {
    color: aliceblue;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container, section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 24px;
}

.brands-list li {
    display: inline;
    margin-right: 10px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section {
    color: #182c61;
}

section p {
    margin-bottom: 8px;
}

.store-front{ 
    margin-right: 32px;
}

.social-links img{
    height: 26px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display:block;
    display: flex;
}

.contact-methods {
    
    justify-content: space-between;
}

form input, form textarea, form button {
    display: block;
    width: 320px;
    margin-bottom: 8px ;
    padding: 8px;
    
}

form textarea {   
    resize: none;
    height: 100px;
    }


section h3 {
    margin-bottom: 16px;
}
form, #fale {
    position: relative;
    left: -106px;
    top: 50px;
}

#nos {
    margin-left: auto;
    margin-right: auto;
    width: 100%; /* Ou qualquer largura desejada */
}

#venha {
    position: relative;
    right: 80px;
}

form button {
    background-color: #182c61;
    color: aliceblue;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: #51586b;

}

input:focus, textarea:focus {
    outline-color: #182c61;
}

footer {
    background-color: #182c61;
    color: aliceblue;
    padding: 16px;
    
}